{block #title}
    <i class="icon mdi mdi-calendar-check"></i> Kalendář
{/block}

{block #buttons}
    <a n:href="Calendar:edit" class="btn btn-success">Přidat událost</a>
{/block}

{block content}
    <div class="m-admin-fix bg-white pb-2">
        <h3>This is calendar grid</h3>
        <div id="calendar"></div>
    </div>
{/block}